@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.title-font {
    font-family: "Signika Negative", sans-serif;
}
.subtitle-font {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
}
.subtitleL-font {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}
.footer {
    flex: 1 1 auto;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.hr {
    display: inline-block;
}
.hr:after {
    content: "";
    display: block;
    border-top: 6px solid rgb(80, 125, 223);
    margin-top: 0.5em;
}
